/*Layout*/
.layout {
    margin: 10px auto auto;
    max-width: 1200px;
    min-width: 800px;
}


.header {
    align-items: center;
    border: 1px solid #ddd;

    display: flex;
    justify-content: space-between;

    height: 50px;
    padding: 0 20px;
}

/*Form*/

.form {
  text-align: center;
}

.insert{
  display: flex;
  justify-content: center;

  margin-top: 10px;
}


/*Todo*/
.app-style {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.component-style {
  
  width: 100px;
  height: 100px;
  border: 1px solid green;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}